.users {
  background-color: $v-p-blue;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -28%;
    left: 0;
    width: 100%;
    height: 28%;
    background-image: url(../images/bg-section-top-mobile-2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    @include breakpoint-up(small) {
      background-image: url(../images/bg-section-top-desktop-2.svg);
    }
    @include breakpoint-up(large) {
      height: 40%;
      top: -40%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: url(../images/bg-section-bottom-mobile-2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    @include breakpoint-up(small) {
      background-image: url(../images/bg-section-bottom-desktop-2.svg);
    }
    @include breakpoint-up(large) {
      height: 35%;
      bottom: -35%;
    }
  }
  & .container {
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 110px;
    @include breakpoint-up(small) {
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;
    }
    @include breakpoint-up(large) {
      gap: 150px;
    }
    & .text {
      text-align: center;
      @include breakpoint-up(small) {
        order: -1;
        text-align: unset;
      }
    }
  }
}
